<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>
    contact us through
</h2>
<p>
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque nisi ratione ut. Consectetur, eveniet excepturi fugit impedit incidunt ipsam nam nobis, non possimus quia quos saepe, ullam vel vero voluptas!</span><span>Adipisci aspernatur, eius eos ex ipsum labore molestiae, odio officia quas, quibusdam repellat sapiente temporibus voluptate? Dignissimos dolor doloremque eos fuga iure, laudantium modi mollitia numquam perferendis quam similique, ut.</span>
</p>
</body>
</html>