{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="{% url 'my_about' %}"> about</a>
<h2>
    welcome to our agriculture farm
</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, architecto deleniti doloribus, eos expedita minima nam quaerat quisquam quos recusandae repudiandae saepe, tempora tempore velit voluptas? Dicta distinctio dolores porro?
</p>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at atque autem commodi cupiditate doloremque et eum excepturi, facere harum ipsam modi nihil odio quaerat, quisquam recusandae sed soluta sunt!</span><span>Accusamus accusantium beatae commodi in nemo, officia possimus provident quibusdam repellat tempore? Architecto, commodi corporis debitis deleniti enim exercitationem explicabo iusto nam, nihil odit pariatur placeat quae quis sunt temporibus!</span><span>Accusamus aspernatur aut beatae dolores ea, earum eos error esse ex fugiat in iusto labore molestias nam porro possimus provident qui recusandae rem reprehenderit similique suscipit ullam velit voluptatibus voluptatum.</span></p>
</body>

</html>